{% extends 'dashboard/base.html' %} {% load static %} {% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ title }}</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for formulir in formulirs %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ formulir.nama }}</td>
                <td>{{ formulir.email }}</td>
                <td>
                  <a href="{% url 'formulir_detail' formulir.pk %}" class="btn btn-info">Lihat</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer text-right">
          <a href="{% url 'formulir' %}" class="btn btn-success">Tambah Formulir</a>
          <!-- Ini harus cocok dengan pola URL -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block js %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
