{% load static %}
<!DOCTYPE html>
<html lang="id" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Daftar </title>
    <link rel="stylesheet" href='{% static "admin/assets/css/login.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src='{% static "admin/assets/images/1313.jpg" %}' alt="Gambar Depan">
      </div>
      <div class="back">
        <div class="text">
          <span class="text-1">Lengkapi perjalanan mil dengan satu langkah</span>
          <span class="text-2">Mari mulai</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="signup-form">
                <div class="title">Daftar</div>
              <form class="form" method="POST">
                {% csrf_token %}
                <p class="text sign-up-text">{{ pesan }}</p>
                  <div class="input-boxes">
                    <div class="input-box">
                      <i class="fas fa-user"></i>
                      <input type="text" placeholder="Masukkan Username Anda" name="username" required>
                    </div>
                    <div class="input-box">
                      <i class="fas fa-envelope"></i>
                      <input type="email" placeholder="Masukkan Email Anda" name="email" required>
                    </div>
                    <div class="input-box">
                      <i class="fas fa-lock"></i>
                      <input type="password" placeholder="Masukkan Password Anda" name="password" required>
                    </div>
                    <div class="button input-box">
                      <input type="submit" value="Daftar">
                    </div>
                    <div class="text sign-up-text">Sudah punya akun? <a href="{% url 'akun_login' %}">Masuk</a></div>
                  </div>
            </form>
          </div>
    </div>
    </div>
  </div>
</body>
</html>